[submodule "themes/hugo-theme-stack"]
	path = themes/hugo-theme-stack
	url = https://github.com/CaiJimmy/hugo-theme-stack/
[submodule "quanquibble/public"]
	path = quanquibble/public
	url = https://github.com/quanquibble/quanquibble.github.io
	branch = main
